@import 'base/reset.css';
@import 'base/typography.css';
@import 'layout/header.css';
@import 'components/button.css';
@import 'components/alert.css';

.alert {
    margin-bottom: 45px;
}

.post {
    padding: 15px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

.post:not(:last-child) {
    margin-bottom: 20px;
}

.post__title {
    font-weight: 700;
}

.post__title::before {
    content: '📝';
    font-size: 22px;
}

.post__date {
    font-size: 14px;
    color: rgb(105, 104, 104);
    margin-bottom: 8px;
}

.post__summary {
    margin-bottom: 15px;
}

.post__link {
    display: block;
    width: 200px;
    text-decoration: none;
    text-align: center;
}