@import 'base/reset.css';
@import 'base/typography.css';
@import 'components/button.css';

body, html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.install__title {
    margin-bottom: 35px;
}

.install__arrow {
    position: relative;
    animation: bounce 2s infinite;
}

.install__svg {
    width: 14px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: hsl(243, 80%, 62%);
}

.install__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.install__btn {
    font-family: inherit;
    font-size: 20px;
    border: none;
    background-color: transparent;
    width: 300px;
}

.success,
.error {
    display: flex;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(235, 236, 237, 0.3);
}

.success__icon,
.error__icon {
    font-size: 18px;
    padding-top: 4px;
    margin-right: 15px;
}

.success__title,
.error__title {
    margin-bottom: 5px;
}

.error__message {
    margin-bottom: 15px;
}

.error__link {
    display: block;
    width: 200px;
    text-decoration: none;
    text-align: center;
}

.success__list {
    list-style: none;
    margin-bottom: 10px;
}

.success__item {
    margin-bottom: 5px;
}

.success__highlight {
    font-size: 85%;
    color: hsl(243, 80%, 62%);
    background-color: hsl(222, 100%, 95%);
    padding: 2px 5px;
    border-radius: 5px;
}

.success__link {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.success__link::after {
    content: '';
    position: absolute;
    left: -0.1px;
    right: -0.1px;
    bottom: 0px;
    height: 100%;
    transform: scaleY(.1);
    transition: transform .1s ease-in-out;
    transform-origin: bottom;
    background-color: #dbe6ff;
    z-index: -1;
}

.success__link:hover,
.success__link:hover::after {
    transform: scaleY(1);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
}
