@import 'base/reset.css';
@import 'base/typography.css';

body, html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.install__title {
    letter-spacing: .5px;
    margin-bottom: 35px;
}

.install__arrow {
    position: relative;
    animation: bounce 2s infinite;
}

.install__svg {
    width: 14px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: hsl(243, 80%, 62%);
}

.install__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.install__btn {
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
    width: 300px;
    padding: 12px 24px;
    position: relative;
    color: hsl(243, 80%, 62%);
    cursor: pointer;
}

.install__btn span {
    position: relative;
    z-index: 1;
}

.install__btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5px;
    right: 5px;
    background-color: hsl(222, 100%, 95%);
    transition: transform .2s ease-in-out;
}

.install__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #474E51;
    transition: transform .2s ease-in-out;
}

.install__btn:hover::before {
    transform: translate(6px, -4px);
}

.install__btn:hover::after {
    transform: translate(-6px, 4px);
}

.error {
    display: flex;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(235, 236, 237, 0.3);
}

.error__icon {
    font-size: 18px;
    padding-top: 4px;
    margin-right: 15px;
}

.error__title {
    letter-spacing: .5px;
    margin-bottom: 5px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
}
