@import 'base/reset.css';
@import 'base/typography.css';
@import 'layout/header.css';
@import 'components/button.css';

.main {
    width: 60%;
    margin: 100px auto;
    padding: 25px 30px;
    border: 1px solid #e1e4e8;
}

.main__title {
    margin-bottom: 15px;
}

.main__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
}

.form__label {
    color: rgb(88, 81, 236);
    font-size: 12.5px;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    opacity: 0;
    transition: all .3s ease;
    z-index: -1;
}

.form__input {
    font-family: inherit;
    font-size: 16px;
    padding: 20px 0;
    height: 56px;
    border: none;
    border-bottom: solid 1px #e1e4e8;
    background: transparent;
    width: 100%;
    transition: all .3s linear;
}

.form__input:focus {
    border-bottom: solid 2px hsl(243, 80%, 62%);
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.form__input:not(:placeholder-shown){
    padding: 28px 0px 12px 0px;
}

.form__input:not(:placeholder-shown) + label {
    transform: translateY(-10px);
    opacity: 1;
    z-index: 1;
}

.form__button {
    border: none;
    background-color: transparent;
    width: 100%;
    margin-top: 15px;
}