.alert {
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}

.alert--success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert--warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

.alert--error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert__closeBtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert__closeBtn:hover {
    color: black;
}