.btn {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    position: relative;
    color: hsl(243, 80%, 62%);
    cursor: pointer;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5px;
    right: 5px;
    background-color: hsl(222, 100%, 95%);
    transition: transform .2s ease-in-out;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #474E51;
    transition: transform .2s ease-in-out;
}

.btn:hover::before {
    transform: translate(6px, -4px);
}

.btn:hover::after {
    transform: translate(-6px, 4px);
}